

<!-- =========================
   ABOUT US SECTION   
============================== -->

<section class="about-us" id="aboutus">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">{{ site.data.aboutus.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            {{ site.data.aboutus.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- 3 COLUMNS OF ABOUT US-->
    <div class="row">
        
        <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
        <div class="col-lg-4 col-md-4 column">
            <div class="big-intro wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                 {{ site.data.aboutus.side_title }}
            </div>
        </div>
        
        <!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
        <div class="col-lg-4 col-md-4 column">
            <p class="wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                 {{ site.data.aboutus.body }}
            </p>
        </div>
        
        <!-- COLUMN 1 - SKILSS-->
        <div class="col-lg-4 col-md-4 column">
            <ul class="skills wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                {% for skill in site.data.aboutus.skills %}
                <li class="skill">
                    <h6>{{ skill.title }}</h6>
                    <p>
                        {{ skill.description }}
                    </p>
                </li>
                {% endfor %}
                
            </ul> 
        </div> <!-- / END SKILLS COLUMN-->
    </div> <!-- / END 3 COLUMNS OF ABOUT US-->
</div> <!-- / END CONTAINER -->

</section> <!-- END ABOUT US SECTION -->
