
<!-- =========================
   FEATURES SECTION   
============================== -->
<section class="features" id="features">
<div class="container">
        
        <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="dark-text">{{ site.data.features.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6>
            {{ site.data.features.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- FEATURS -->
    <div class="row">
        
        <!-- FEATURES COLUMN LEFT -->
        <div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            {% for feature in site.data.features.left_features %}
            <!-- FEATURE -->
            <div class="feature">
                <div class="feature-icon">
                    <img src="images/features/{{ feature.image }}.png">
                </div>
                <h5>{{ feature.title }}</h5>
                <p>{{ feature.description }}</p>
            </div>
            <!-- / END FEATURE -->
            {% endfor %}
        </div> <!-- / FEATURES COLUMN LEFT -->
        
        <!-- FEATURES COLUMN RIGHT -->
        <div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            {% for feature in site.data.features.right_features %}
            <!-- FEATURE -->
            <div class="feature">
                <div class="feature-icon">
                    <img src="images/features/{{ feature.image }}.png">
                </div>
                <h5>{{ feature.title }}</h5>
                <p>{{ feature.description }}</p>
            </div>
            <!-- / END FEATURE -->
            {% endfor %}
        </div> <!-- / END FEATURES COLUMN RIGHT -->
    </div> <!-- / END FEATURES -->
</div> <!-- / END CONTAINER -->
</section> <!-- / END FEATURES SECTION -->
