<!-- =========================
   FOCUS SECTION      
============================== -->

<section class="focus" id="focus">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="dark-text">{{ site.data.focus.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6>
            {{ site.data.focus.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- 4 FOCUS BOXES -->
    <div class="row">
        {% for focus in site.data.focus.focuses %}
        <div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="service-icon">
                <img class="pixeden" src="images/focus/{{ focus.image }}.png">
            </div>
            <h5 class="red-border-bottom">{{ focus.title }}</h5> <!-- FOCUS HEADING -->
            <p> <!-- FOCUS DESCRIPTION -->
                {{ focus.description }}
            </p>
        </div>
        {% endfor %}
    </div>
    <!-- / END 4 FOCUS BOXES -->
    {% if site.data.focus.other_focus %}
    <!-- OTHER FOCUSES -->
    <div class="other-focuses">
        <h5><span class="section-footer-title">{{ site.data.focus.other_focus.title }}</span></h5>
    </div>
    
    <!-- OTHER FOCUS LIST -->
    <div class="other-focus-list wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <ul>
        {% for focus in site.data.focus.other_focus.focuses %}
            <li>{{ focus }}</li>
        {% endfor %}
        </ul>
    </div> <!-- / END OTHER FOCUS LIST -->
    {% endif %}
</div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   SEPARATOR ONE      
============================== -->
