
<!-- =========================
   PACKAGES SECTION   
============================== -->

<section class="packages" id="pricingtable">
<div class="container">
    
    <!-- SECTION HEADER -->
    <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">{{ site.data.pricingtable.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            {{ site.data.pricingtable.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- PACKAGES -->
    <div class="row">
        {% for tier in site.data.pricingtable.tiers %}
        <!-- FIRST PACKAGE -->
        <div class="col-lg-3 col-sm-3">
            <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <div class="package-header {{ tier.color }}-bg">
                    <h5>{{ tier.name }}</h5>
                </div>
            {% for subtier in tier.tiers %}
                <div class="price dark-bg">
                    <div class="price-container">
                    <h4><span class="dollar-sign">$</span>{{ subtier.price }}</h4><span class="price-meta">{{ subtier.term }}
                    </span>
                    </div>
                </div>
                <ul>
                    {% for feature in subtier.features %}
                    <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </div>
        </div> <!-- / END FIRST PACKAGE -->
        {% endfor %}
    </div> <!-- / END PACKAGES -->
    
</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->
