
<!-- =========================
   PRODUCTS SECTION   
============================== -->

<section class="products" data-type="background" data-speed="1" id="products">
<div class="color-overlay">
    <div class="container">
            
    <!-- SECTION HEADER -->
        <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">{{ site.data.products.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            {{ site.data.products.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
        
        <!-- PRODUCTS -->
        <div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            {% for product in site.data.products.products %}
            <!-- SINGLE PRODUCT -->
            <div class="col-md-3">
                <div class="item item-{{ forloop.index + 1 }}">
                    <div class="item-overlay">
                    </div>
                    <div class="item-content">
                        <div class="item-top-content">
                            <div class="item-top-content-inner">
                                <div class="item-product">
                                    <div class="item-top-title">
                                        <h5>{{ product.title }}</h5>  <!-- PRODUCT TITLE-->
                                        <p class="subdescription">
                                             {{ product.category }}
                                        </p> <!-- PRODUCT DESCRIPTION-->
                                    </div>
                                </div>
                                <div class="item-product-price">
                                    <!-- PRICE -->
                                    <span class="price-num green-text">${{ product.price }}</span> 
                                    {% if product.old_price %}
                                    <!-- OLD PRICE START -->
                                    <p class="subdescription">
                                         ${{ product.old_price }}
                                    </p>
                                    <div class="old-price">
                                    </div> <!-- END OLD PRICE -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <!-- ITEM HOVER CONTENT-->
                        <div class="item-add-content">
                            <div class="item-add-content-inner">
                                <div class="section">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- / END FIRST ITEM -->
            {% endfor %}
        </div> <!-- / END PRODUCTS LIST -->
    </div> <!-- / END CONTAINER -->
</div> <!-- / END COLOR OVERLAY -->
</section> <!-- / END PRODUCTS SECTION -->