<section class="separator-one">
<div class="color-overlay">
    <h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    {{ site.data.separator.message }} </h3>
    <div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        {% each site.data.separator.buttons }}
        <a href="{{ this.link }}" class="btn btn-primary custom-button {{ this.color }}-btn">{{ this.title }}</a>
        {% endeach %}
    </div>
</div>
</section>  <!-- / END SEPARATOR -->
