
<!-- =========================
   TESTIMONIAL        
============================== -->

<section class="testimonial" id="testimonials">
<div class="container">
      
      <!-- SECTION HEADER -->
        <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">{{ site.data.testimonials.title }}</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            {{ site.data.testimonials.description }}
        </h6>
    </div>
    <!-- / END SECTION HEADER -->
    
    <!-- CLIENT FEEDBACKS -->
    <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <div class="col-md-12">
            <div id="client-feedbacks" class="owl-carousel owl-theme">
                
                {% for feedback in site.data.testimonials.feedbacks %}
                <!-- SINGLE FEEDBACK BOX-->
                <div class="feedback-box">
                    <!-- MESSAGE OF THE CLIENT -->
                    <div class="message">
                         “{{ feedback.message }}”
                    </div>
                    
                    <!-- CLIENT INFORMATION -->
                    <div class="client">
                        <div class="quote red-text">
                            <i class="icon-fontawesome-webfont-294"></i>
                        </div>
                        <div class="client-info">
                            <a class="client-name" href="index.html">{{ feedback.user }}</a> 
                            <div class="client-company">
                                {{ feedback.title }}
                            </div>
                        </div>
                        <div class="client-image hidden-xs">
                            <img src="images/testimonials/{{ feedback.image }}.jpg" alt="">
                        </div>
                    </div> <!-- / END CLIENT INFORMATION-->
                </div> <!-- / END SINGLE FEEDBACK BOX-->
                {% endfor %}
                
            </div> <!-- / END FEEDBACKS-->
        </div> <!-- / END COLUMN -->
    </div> <!-- / END ROW -->
    
</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->
